<div class="d-flex justify-content-md-start justify-content-sm-center">
    <div class="roadmap-item">
        <div class="quarters mb-2">
            <span class="quarter">Third-quarter: </span>
            <span class="year">2022</span>
        </div>        <div class="roadmap-content">
        <div class="subtitle text-primary">MVP</div>
        <ul class="roadmap-list">
            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Add liquidity"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "DeFi staking"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Yield farming"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Additions of staking non-DeFi"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Refinement of the referral program"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Portfolio Analytics"
            })

            @@include('../../atoms/roadmap-list-item.html',{
            "text": "Expansion of the list of coins on their blockchains (in different networks)"
            })
        </ul>
    </div>
    </div>
</div>