<div class="d-flex justify-content-xl-start
justify-content-lg-center
justify-content-md-center
justify-content-sm-center"
data-aos="fade-right" 
data-aos-offset="300"
  data-aos-duration="1000">
    <div class="roadmap-item">
        <div class="quarters mb-2" id="quoterFirst">
            <span class="quarter">First-quarter: </span>
            <span class="year">2022</span>
            <div class="leftItemLine" id="quoterFirstLine" data-aos="fade-right"
            data-aos-offset="450" data-aos-duration="200" data-aos-easing="ease-in-sine"></div>
        </div>
        <div class="roadmap-content">
            <div class="subtitle text-primary">MVP</div>
            <ul class="roadmap-list">
                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Pre-sale"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Private sale"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "DEX Listing"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Stacking our token"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Farming our token"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Referral program"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Connection of payment systems (purchase / sale of cryptocurrency)"
                })
            </ul>
        </div>
    </div>
</div>