<div class="d-flex
justify-content-xl-end
justify-content-lg-end
justify-content-md-center
justify-content-sm-center" data-aos="fade-left"
     data-aos-offset="300"
     data-aos-duration="1000">
    <div class="roadmap-item">
        <div class="rightQuater quarters flexEndQuoter mb-2" id="quoterFour">
            <span class="year">2023</span>
            <span class="quarter">Q2: </span>
            <div class="rightItemLine" id="quoterFourLine" data-aos="fade-left"
                 data-aos-offset="450" data-aos-duration="200" data-aos-easing="ease-in-sine"
                 data-aos-delay="100"></div>
        </div>
        <div class="roadmap-content">
            <div class="subtitle text-primary">Expansion of the list of coins with its own blockchain</div>
            <ul class="roadmap-list">
                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Expansion of services Dex, Defi"
                })

                @@include('../../atoms/roadmap-list-item.html',{
                "text": "Automatic investment (understanding and example; You select a network and then select several coins from the list of coins in this network, the exchange takes place automatically and investments in these coins are made with one click in different services). In each coin, you can choose a service or leave it by default. "
                })
            </ul>
        </div>
    </div>
</div>