<footer>
    @@include('../organisms/feedback_section.html')
    <div class="info container">
       <div class="row justify-content-between">
           <div class="rights-md text-primary col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12 text-center">
               © deXoo DeFi Wallet 2021. All rights reserved
           </div>
           <div class="docs col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
               <a href="files/docs/policy.docx" download="Privacy policy.docx" class="text-secondary">Privacy policy</a>
               <a href="#" class="text-secondary">Terms of use</a>
           </div>

           <div class="rights text-primary col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
               © deXoo DeFi Wallet 2021. All rights reserved
           </div>
           <div class="social-media col-12 col-xl-3 col-lg-3 col-md-12 col-sm-12">
               <span class="twitter"></span>
               <span class="telegram"></span>
               <span class="medium"></span>
               <span class="discord"></span>
           </div>

       </div>
    </div>
</footer>