<form class="row g-3 needs-validation" novalidate>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        @@include('../atoms/input.html', {
            "id": "validationCustom01",
            "placeholder": "First Name",
            "error": "Please enter your name."
        })
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 mt-xl-0 my-lg-0 mt-md-3 mt-3">
        @@include('../atoms/input.html', {
            "id": "validationCustom02",
            "placeholder": "email",
            "error": "Please enter your email."
        })
    </div>
    <div class="col-12 mt-3">
        <div class="input-group has-validation">
            <input type="text" class="form-control" placeholder="Enter your question" id="validationCustomUsername" aria-describedby="inputGroupPrepend"
                   required>
            <div class="invalid-feedback">
                Please enter your question.
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 my-xl-0 my-lg-0 my-md-3 my-3">
        <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="invalidCheck" required>
            <label class="form-check-label text-primary" for="invalidCheck">
                I agree with the privacy policy
            </label>
            <div class="invalid-feedback">
                You must agree before submitting.
            </div>
        </div>
    </div>
    <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12">
        <button class="btn btn-submit" type="submit">Submit form</button>
    </div>
</form>