<section class="section benefits-section">
    <span class="bg-mountains-right"></span>
    <span class="sun"></span>
    <div style="width: 100%; height: 100%" class="d-flex container">
        <div class="row">
            <div class="col-md-6 col-lg-6 col-sm-12 mobile"></div>
            <div class="col-md-6 col-lg-6 col-sm-12 justify-content-lg-center benefits">
                <div class="title text-primary">Benefits</div>
                <ul class="benefits-list">
                    <li>Dexoo wallet security is based on DeFi protocols,
                        anyone can easily check the code.
                    </li>
                    <li>
                        Our own “deXoo” DeFi staking, Yield farming “X”
                        featuring the deXoo token.
                    </li>
                    <li>
                        24/7 Support service. Fast feedback within 10 minutes.
                    </li>
                    <li>
                        One step referral system. Earn by inviting friends.
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>