<section
  class="buy-section d-flex align-items-center flex-xl-row justify-content-xl-between flex-lg-column justify-content-lg-center flex-md-column justify-content-md-center flex-sm-column justify-content-sm-center flex-column justify-content-center"
>
  <div class="d-flex justify-content-center flex-column align-items-center" style="width: 100%; z-index: 1;">
    <h2 class="title">Our easy-to-use DeFi wallet helps you earn more.</h2>

    <div class="button button-buy mt-5">Buy token</div>
  </div>
  <div class="lineContainer">
    <div class="topOpacity"></div>
    <div class="gradientLine" id="buyCenterLine"></div>
  </div>
 
</section>
