<section  class="feedback-section container">
    <div class="row">
        <div class="titles col-xl-4 col-lg-12 col-sm-12">
            <h6 class="subtitle text-primary">
                FEEDBACK
            </h6>
            <h3 class="title text-primary">
                Still have questions?
            </h3>
            <div class="faq">
                get answers from FAQ
            </div>
        </div>
        <div class="form col-xl-8 col-lg-12 col-sm-12">
            @@include('../moleculus/feedback_form.html')
        </div>
    </div>
</section>