<section  class="feedback-section container">
    <div class="row">
        <div class="titles col-xl-6 col-lg-12 col-sm-12 col-12">
            <h6 class="subtitle text-primary">
                FEEDBACK
            </h6>
            <h3 class="title text-primary">
                Still have questions?
            </h3>
            <span class="faq">
                get answers from
            </span>
            <a class="faq" href="files/docs/FAQ.docx" download="FAQ.docx">
                FAQ
            </a>
        </div>
        <div class="form col-xl-6 col-lg-12 col-sm-12">
            @@include('../moleculus/feedback_form.html')
        </div>
    </div>
</section>