<section  class="feedback-section container">
    <div class="row">
        <div class="titles col-xl-6 col-lg-12 col-sm-12 col-12">
            <div class="contact">
                <div class="title text-primary">
                    contact us
                </div>
                <div class="description text-secondary">
                    support@dexoo.io
                    partners@dexoo.io
                    press@dexoo.io
                    marketing@dexoo.io
                </div>
            </div>
            <div class="faq_container">
                <div class="title text-primary">FAQ</div>
                <span class="description text-primary">
                get answers from
            </span>
                <a class="description faq" href="files/docs/FAQ.docx" download="FAQ.docx">
                    FAQ
                </a>
            </div>
        </div>
        <div class="form col-xl-6 col-lg-12 col-sm-12">
            <h6 class="subtitle text-primary">
                FEEDBACK
            </h6>
            <h3 class="title text-primary">
                Still have questions?
            </h3>
            @@include('../moleculus/feedback_form.html')
        </div>
    </div>
</section>