<section style="height: 100%" class="profits-section container">
   <div class="row">
       @@include('../moleculus/profit.html',{
       "icon": "web3",
       "title": "Web 3 Wallet",
       "description": "DeXoo wallet is built on the basis of web 3 technology, which uses decentralized protocols for service for storing, exchanging and creating a pool of cryptocurrency liquidity. Generating seed phrases guarantees users security and protection. Users can create a new wallet and also import an existing web 3 wallet."
       })
       @@include('../moleculus/profit.html',{
       "icon": "yield",
       "title": "Yield farming",
       "description": "Yield farming is the process of staking, lending and even borrowing cryptocurrency in return for rewards. It’s one of the main drivers of decentralized finance (DeFi) and is closely related to liquidity mining. The important point to understand is that by locking tokens into a DeFi protocol a user may expect to make an additional profit from their existing cryptocurrency. "
       })
       @@include('../moleculus/profit.html',{
       "icon": "liquid",
       "title": "Liquid Swap",
       "description": "Liquid swap is a feature that facilitates a simple exchange of crypto digital assets. Trade without having to navigate complex trading dashboards. You can select the currency of your choice to buy and the currency you would like to pay with. Just enter the amount and complete the transaction."
       })
       @@include('../moleculus/profit.html',{
       "icon": "staking",
       "title": "Staking",
       "description": "Staking is a method of passive earnings, in which users store coins on the Proof of Stake (PoS) algorithm and ensure the efficiency of the blockchain. It gives them the privilege to make a profit. Staking replaces mining entirely and makes it possible to extract new blocks without considerable computing power."
       })
       @@include('../moleculus/profit.html',{
       "icon": "exchange",
       "title": "Exchange",
       "description": "A decentralized exchange (DEX) operates on the basis of a distributed registry, does not store funds and personal data of users on its servers, acting only as a platform for finding matches on applications for the purchase or sale of users assets."
       })
       @@include('../moleculus/profit.html',{
       "icon": "invest",
       "title": "Automatic Investment",
       "description": "One-click investment is one of the unique features of deXoo. It is an automated function that finds the best APR/APY and invests without requiring unnecessary gas fees and unnecessary manual confirmations for transactions."
       })
   </div>
    <div class="lineTop" id="profitTopLine"></div> 
    <div class="lineRight" id="profitRightLine"></div> 
</section>