<section class="services-section ">
    <span class="bg-mountains-left"></span>
    <div class="container d-flex flex-column align-items-center">
        <div class="title text-primary mb-5">Services we use</div>
        <div style="width: 100%" class="services-list d-flex justify-content-between">
            @@include('../atoms/service_icon.html', {
            "name": "Uniswap",
            "img": "@img/uniswap.svg"
            })
            @@include('../atoms/service_icon.html', {
            "name": "Aave",
            "img": "@img/aave.svg"
            })
            @@include('../atoms/service_icon.html', {
            "name": "Binance Smart Chain",
            "img": "@img/binance.svg"
            })
            @@include('../atoms/service_icon.html', {
            "name": "PancakeSwap",
            "img": "@img/pancake.svg"
            })
        </div>
    </div>
</section>