<section class="section video-section d-flex align-items-center flex-column">
    <span class="bg-mountains-left"></span>
    <div class="d-flex justify-content-center flex-column align-items-center">
        <h2 class="title">
            Our easy-to-use DeFi wallet helps you earn more.
        </h2>

        <div class="button button-buy mt-5">
            Buy token
        </div>
    </div>
   <div style="height: 100%" class="d-flex justify-content-around flex-column align-items-center">
       <h3 class="subtitle">
           We aspire to simplify
       </h3>
       <h3 class="title-letter-gradient">
           Video
       </h3>
   </div>
</section>