.buy-section {
  margin-top: -200px;
  color: white;
  position: relative;
  padding-bottom: 35vh;
  flex-direction: column !important;

  @include media-breakpoints-down($sm) {

    margin-top: -100px;
  }

  .title {
    font-family: "Audiowide", sans-serif;
    font-size: 48px;
    line-height: 120%;
    max-width: 732px;
    text-align: center;

    &.title {
      @include text-gradient(linear-gradient(180deg, #FE3218 0%, #FF911A 100%))
    }
  }

  @include media-breakpoints-down($sm) {

    .title {
      font-size: 24px;
    }

    .title-letter-gradient {
      font-size: 32px;
    }
  }

  .button-buy {
    width: 236px;
    height: 84px;
    // color: $phoenix; // comment out when link enabled !IMPORTANT
    color: #cbcbcb !important; // comment when link enabled !IMPORTANT
    // border: 1px solid #FE3218; // comment out when link enabled !IMPORTANT 
    border: 1px solid #cbcbcb !important; // comment when link enabled !IMPORTANT
    font-family: Audiowide, sans-serif;
    filter: drop-shadow(0px 0px 20px rgba(255, 153, 96, 0.6));
    padding: 24px;
    text-align: center;
    font-size: 24px;
    // animation: pulse 1.5s infinite; // comment out when link enabled !IMPORTANT
    box-shadow: 0 0 0 0 rgba(255, 153, 96, 0.6);
  }

  @keyframes pulse {
    0% {
      transform: scale(.96);
    }

    50% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgba(255, 153, 96, 0.05);
    }

    100% {
      transform: scale(.96);
      box-shadow: 0 0 0 0 rgba(255, 153, 96, 0.05);
    }
  }

  .gradientLine {
    margin: 20px auto 0px auto;
    width: 4px;
    height: 35vh;
    background: linear-gradient(0deg, #6FE5FF 1.49%, rgba(193, 248, 255, 0) 100%);
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.1), 0 0 1.5rem rgba(112, 229, 255, 0.1),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.1), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.1),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.1), 0 0.5rem 3rem rgba(112, 229, 255, 0.1);
  }
}