.feedback-section {
  padding: 48px 120px;
  background: #152E41;

  width: 100%;
  max-width: 100%;

  @include media-breakpoints-down($md) {
    padding: 16px;
  }

  .titles {
    .subtitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }

    .title {
      font-size: 48px;
      line-height: 120%;
      font-family: "Audiowide", sans-serif;
    }

    .faq {
      color: $phoenix;
      font-size: 18px;
      @include text-gradient($phoenix-bg);
      line-height: 150%;
    }
     a {
       border-bottom: 1px solid #FF911A;
     }
  }


  @include media-breakpoints-down($md) {
    .title {
      font-size: 24px !important;
    }

    .faq {
      margin-bottom: 40px;
    }
  }

  .form {
    input[type=text] {
      min-width: 288px;
      width: 100%;
      height: 62px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      border: 1px solid #BFB6B6;
      box-sizing: border-box;
      border-radius: 8px;

      &:focus {
        border: 0.5px solid $phoenix;
        box-shadow: 0 0 0 0.5px $phoenix;
      }
    }

    input[type=checkbox] {
      background: linear-gradient(154.49deg, rgba(117, 127, 131, 0.2) 5.35%, rgba(53, 79, 103, 0.2) 83.85%), rgba(12, 30, 44, 0.4);
      border: 1px solid #E7E7E7;
      box-sizing: border-box;
      border-radius: 8px;
    }
  }
}