.feedback-section {
  padding: 48px;
  width: 100%;
  max-width: 100%;
  .titles {
    .subtitle {
      font-weight: 600;
      font-size: 16px;
      line-height: 150%;
    }
    .title {
      font-size: 48px;
      line-height: 120%;
      font-family: "Audiowide", sans-serif;
    }
    .faq {
      color: $phoenix;
      font-size: 18px;
      line-height: 150%;
    }
  }

  .form {
    input[type=text] {
      min-width: 288px;
      width: 100%;
      height: 62px;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      border: 1px solid #BFB6B6;
      box-sizing: border-box;
      border-radius: 8px;
      &:focus {
        border: 0.5px solid $phoenix;
        box-shadow: 0 0 0 0.5px $phoenix;
      }
    }
  }
}