footer {
  @import "feedback-section";

  .info {
    padding: 16px 120px;
    background: #102738;
    max-width: 100% !important;

    .social-media {
      display: flex;
      justify-content: end;
    }

    .rights-md {
      display: none;
    }

    @include media-breakpoints-down($md) {
      padding: 16px;
      .row {
        flex-direction: column-reverse !important;
        .docs, .social-media, .rights {
          align-items: center;
          text-align: center;
        }
        .docs {
          margin: 24px 0;
        }
        .social-media {
          display: inline-block;
        }
        .rights-md {
          display: inline-block;
        }
        .rights {
          display: none;
        }
      }
    }



    .docs {
      a {
        border-bottom: 1px solid;
        text-decoration: none;
        &:hover {
          color: $text-secondary !important;
        }
        &:nth-child(1) {
          margin-right: 16px;
        }
      }
    }
    .social-media {
      .twitter {
        @include bg-img("@img/twitter.svg", 36px, 36px);
        margin-right: 16px;
      }
      .telegram {
        @include bg-img("@img/telegram.svg", 36px, 36px);
        margin-right: 16px;
      }
      .medium {
        @include bg-img("@img/medium.svg", 36px, 36px);
        margin-right: 16px;
      }
      .discord {
        @include bg-img("@img/discord.svg", 36px, 36px);
        margin-right: 16px;
      }
      .github {
        @include bg-img("@img/github.svg", 36px, 36px);
      }
    }
  }


}