main {
  height: 100%;
  padding: 0 120px;

  @include media-breakpoints-down($md) {
    padding: 0 16px;
  }

  @import "main-section";

  @import "buy-section";

  @import "video-section";

  @import "profits-section";

  @import "benefits-section";

  @import "roadmap-section";

  @import "services-section";

}
