.main-section {


  .title {
    font-family: "Audiowide", sans-serif;
    max-width: 657px;
    text-align: left;
    font-size: 64px !important;
    @include media-breakpoints-down($md) {
      text-align: center;
      font-size: 32px !important;
    }
  }

  .logo {
    margin-top: 80px;
    font-size: 64px !important;
    @include media-breakpoints-down($md) {
      font-size: 32px !important;
    }
    @include text-gradient($letter-gradient);
    font-family: "Audiowide", sans-serif;
  }

  .gradientLine {
    position: absolute;
    left: 50%;
    right: 50%;
    bottom: 0;
    width: 4px;
    height: 45vh;
    background: linear-gradient(0deg, #6FE5FF 1.49%, rgba(193, 248, 255, 0) 100%);
    box-shadow: 3px 0px 3px rgba(112, 229, 255, 0.1), 3px 0px -3px rgba(112, 229, 255, 0.1);
  }
}
