.main-section {


  .title {
    font-family: "Audiowide", sans-serif;
    max-width: 657px;
    text-align: left;
    font-size: 64px !important;
    @include media-breakpoints-down($md) {
      text-align: center;
      font-size: 32px !important;
    }
  }

  .logo {
    margin-top: 80px;
    font-size: 64px !important;
    @include media-breakpoints-down($md) {
      font-size: 32px !important;
    }
    @include text-gradient($letter-gradient);
    font-family: "Audiowide", sans-serif;
  }
}
