.roadmap-section {
  position: relative;
  overflow: hidden;
  margin-top: -120px;
  //position: relative;
  //&::before {
  //  content: "";
  //  position: absolute;
  //  @include size(100%);
  //  left: -120px;
  //  right: -120px;
  //  bottom: -1350px;
  //  z-index: -2;
  //  background: url("@img/mountains.svg") no-repeat;
  //  background-size: 100%;
  //}
  //
  //&::after {
  //  content: "";
  //  position: absolute;
  //  z-index: -1;
  //  @include size(60%, 100%);
  //  background: rgb(255, 255, 255);
  //  background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(19, 35, 57, 1) 58%);
  //  right: -120px;
  //}

  .subtitle {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
  }

  .title {
    font-family: "Audiowide", sans-serif;
    font-size: 48px;
    line-height: 120%;
  }

  @include media-breakpoints-down($md) {
    .subtitle
    {
      font-size: 20px !important;
    }
  }

  .roadmap-item {
    .rightQuater {
      margin-left: auto;

      @include media-breakpoints-down($xl) {
        margin-left: unset;
      }
    }

    .quarters {
      position: relative;
      width: fit-content;
      font-family: "Audiowide", sans-serif;
      font-size: 24px;

      .quarter {
        @include text-gradient($letter-gradient);
      }

      .year {
        color: white;
      }

    }

    .roadmap-content {
      padding: 24px;
      max-width: 544px;
      @include size(100%);
      background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0) 100%);
      border: 1px solid #102738;
      box-sizing: border-box;
      border-radius: 20px;

      .subtitle {
        font-family: "Audiowide", sans-serif;
        color: white;
        font-size: 32px;
      }
      li {
        font-size: 20px;
      }
    }
  }

  .lineTop {
    position: absolute;
    right: 0;
    top: 120px;
    width: 50%;
    height: 4px;
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -webkit-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -moz-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);

    @include media-breakpoints-down(1357px) {
      display: none;
    }
  }

  .lineCenter {
    position: absolute;
    left: 50%;
    right: 50%;
    top: 120px;
    width: 4px;
    height: 100%;
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -webkit-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -moz-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);

    @include media-breakpoints-down(1357px) {
      right: 0;
      left: unset;
    }

    @include media-breakpoints-down($sm) {
      right: 0;
      left: unset;
      max-height: calc(100% - 540px);
    }
  }


  .leftItemLine {
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 4px;
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -webkit-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -moz-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);

    @include media-breakpoints-down($xl) {
      left: unset;
      right: 0px;
    }
  }

  .rightItemLine {
    position: absolute;
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
    width: 0px;
    height: 4px;
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -webkit-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
    -moz-box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);

    @include media-breakpoints-down($xl) {
      left: unset;
      right: 0px;
    }
  }
}