.video-section {
  color: white;
  position: relative;
  margin-top: calc(-35vh - 4px);
  //@media screen and (max-width: 500px) {
  //  height: 1086px;
  //}


  .bg-mountains-left {
    position: absolute;
    @include size(100%);
    top: -35vh;
    left: -120px;
    right: -120px;
    z-index: -2;
    background: url("@img/mountains.svg") no-repeat;

    &::before {
      @include mountains_bg(180deg);
      @include size(100%, 10%);
      bottom: 0;
    }

    &::after {
      @include mountains_bg(90deg);
      @include size(60%, 100%);
      right: -120px;
    }
  }


  .title,
  .subtitle {
    font-family: "Audiowide", sans-serif;
    font-size: 48px;
    line-height: 120%;
    max-width: 732px;
    text-align: center;

    &.title {
      @include text-gradient(linear-gradient(180deg, #FE3218 0%, #FF911A 100%))
    }
  }

  @include media-breakpoints-down($sm) {

    .title,
    .subtitle {
      font-size: 24px;
    }

    .title-letter-gradient {
      font-size: 32px;
    }
  }

  .button-buy {
    width: 236px;
    height: 84px;
    color: $phoenix;
    border: 1px solid #FE3218;
    font-family: Audiowide, sans-serif;
    filter: drop-shadow(0px 0px 20px rgba(255, 153, 96, 0.6));
    padding: 24px;
    text-align: center;
    font-size: 24px;
    animation: pulse 1.5s infinite;
    box-shadow: 0 0 0 0 rgba(255, 153, 96, 0.6);
  }

  @keyframes pulse {
    0% {
      transform: scale(.96);
    }

    50% {
      transform: scale(1);
      box-shadow: 0 0 0 15px rgba(255, 153, 96, 0.05);
    }

    100% {
      transform: scale(.96);
      box-shadow: 0 0 0 0 rgba(255, 153, 96, 0.05);
    }
  }

  .lineTop {
    position: absolute;
    right: calc(50% - 2px);
    top: 0;
    width: 4px;
    height: 4px;
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
  }

  .lineLeft {
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 0px; 
    background: #6FE5FF;
    box-shadow: 0 0 0.6rem rgba(112, 229, 255, 0.4), 0 0 1.5rem rgba(112, 229, 255, 0.4),
      -0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4), 0.2rem 0.1rem 1rem rgba(112, 229, 255, 0.4),
      0 -0.5rem 2rem rgba(112, 229, 255, 0.4), 0 0.5rem 3rem rgba(112, 229, 255, 0.4);
  }
}